@model IEnumerable<CatWool.Models.Product>
@{
    ViewBag.Title = "Mèo Len";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@

<h1 class="text-danger">Danh sách sản phẩm</h1>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-6 col-sm-12 text-center">
                <a href="/Home/DetailsUser/@item.Id">
                    <img src="@item.Image" alt="image" style="width: 100px; height: 150px"/>
                    <h3 class="text-danger">@item.NameProduct</h3>
                    <p class="text-success">@item.Price</p>
                </a>
                
                <p>
                    <input type="submit" class="btn btn-danger" onclick="AddToCart('@item.Id')"
                           value="Thêm giỏ hàng"/>
                </p>
            </div>
        }
    </div>
</div>

@section Scripts{
    <!--Gio Hang-->>
    <script>
        function AddToCart(id) {
            $.ajax({
                type: 'POST',
                url: '/Home/AddToCart',
                data: { id: id },
                success: function(data) {
               
                    $("#Cart_Amount").html(data.ItemAmount);
                }
            });
        }
    </script>
}
